@tailwind base;
@tailwind components;
@tailwind utilities;

.home::before {
  content: "";
  position: absolute;
  top: -240px;
  left: -202px;
  width: 456px;
  height: 456px;
  border-radius: 50%;
  background: rgba(244, 148, 177, 0.61);
  filter: blur(100px);
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "PoppinsBold";
  src: url("../public/fonts/Poppins-Bold.ttf");
  font-weight: bold;
}
