@tailwind base;
@tailwind components;
@tailwind utilities;

.home::before {
  content: "";
  position: absolute;
  top: -240px;
  left: -202px;
  width: 456px;
  height: 456px;
  border-radius: 50%;
  background: rgba(244, 148, 177, 0.61);
  filter: blur(100px);
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "PoppinsBold";
  src: url("../public/fonts/Poppins-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "PoppinsLight";
  src: url("../public/fonts/Poppins-Light.ttf");
}

.primary-gradient {
  background: linear-gradient(95.48deg, #f4c237 0%, #e1a90c 88.17%);
}

.secondary-gradient {
  background: linear-gradient(94.18deg, #056aad 0%, #045285 88.5%);
}
